body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin: 0;
    padding: 0;
    background-color: white; /* нежно-нежно сиреневый */
    color: #555; /* цвет текста */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
}

#app > div {
    padding: 20px;
}